In [28]:
import pandas as pd
cs_core = pd.read_csv('cscore.csv')
cs_core

    id        category                        courseName  credit
0    1  Computing Core          Programming Fundamentals       3
1    2  Computing Core       Object Oriented Programming       3
2    3  Computing Core      Data Structures & Algorithms       3
3    4  Computing Core               Discrete Structures       3
4    5  Computing Core                 Operating Systems       3
5    6  Computing Core                  Database Systems       3
6    7  Computing Core              Software Engineering       3
7    8  Computing Core                 Computer Networks       3
8    9  Computing Core              Information Security       3
9   10  Computing Core                Final Year Project       6
10  11  Computing Core      Programming Fundamentals Lab       1
11  12  Computing Core   Object Oriented Programming Lab       1
12  13  Computing Core  Data Structures & Algorithms Lab       1
13  14  Computing Core             Operating Systems Lab       1
14  15  Computing Core              Database Systems Lab       1
15  16  Computing Core             Computer Networks Lab       1
16  17  Computing Core                              OOAD       3
17  18  Computing Core                          OOAD Lab       1
18  19  Computing Core             Computer Architecture       3
19  20  Computing Core                Intro to Computing       3
20  21  Computing Core                 Intro to Comp Lab       1
21  22  Computing Core              Computer Programming       3
22  23  Computing Core                 Computer Prog Lab       1
23  24  Computing Core                   Data Structures       3
24  25  Computing Core                 Operating Sys Lab       1
25  26  Computing Core                 Info Sys Security       3
26  27  Computing Core                       Project - I       3
27  28  Computing Core                      Project - II       3

In [29]:
cs_general = pd.read_csv('csgeneral.csv')
cs_general

    id           category                                  courseName  credit
0    1  General Education         English Composition & Comprehension       3
1    2  General Education                Technical & Business Writing       3
2    3  General Education         Communication & Presentation Skills       3
3    4  General Education                      Professional Practices       3
4    5  General Education         Intro to Info. & Comm. Technologies       2
5    6  General Education                            Pakistan Studies       2
6    7  General Education                    Islamic Studies & Ethics       2
7    8  General Education                     Islamic Studies/ Ethics       3
8    9  General Education                            English Language       3
9   10  General Education                                         TBW       3
10  11  General Education                         English Composition       3
11  12  General Education                         Islam and Relig Std       3
12  13  General Education  Introduction to Info. & Comm. Technologies       3

In [30]:
cs_general_elective = pd.read_csv('csgeneralelective.csv')
cs_general_elective

    id              category              courseName  credit
0    1  University Electives        Foreign Language       2
1    2  University Electives          Social Service       1
2    3  University Electives      Management Related       3
3    4  University Electives  Social Science Related       3
4    5  University Electives         Economy Related       3
5    6  University Electives        Entrepreneurship       3
6    7  University Electives              Psychology       3
7    8  University Electives         Arabic Language       3
8    9  University Electives         Micro Economics       3
9   10  University Electives   International HR Mgmt       3
10  11  University Electives      Fund of Management       3

In [31]:
cs_maths_foundation = pd.read_csv('csmaths.csv')
cs_maths_foundation

,id,category,courseName,credit
0,1,Mathematics and Science Foundation,Calculus & Analytical Geometry,3
1,2,Mathematics and Science Foundation,Probability & Statistics,3
2,3,Mathematics and Science Foundation,Linear Algebra,3
3,4,Mathematics and Science Foundation,Applied Physics,3
4,5,Mathematics and Science Foundation,Calculus - I,3
5,6,Mathematics and Science Foundation,Probability and Stat,3
6,7,Mathematics and Science Foundation,Basic Electronics,3

In [32]:
cs_compulsory = pd.read_csv('cscompulsory.csv')
cs_compulsory

,id,category,courseName,credit
0,1,Computer Science Core(Compulsory),Compiler Construction,3
1,2,Computer Science Core(Compulsory),Comp. Organization & Assembly Language,3
2,3,Computer Science Core(Compulsory),Digital Logic Design,3
3,4,Computer Science Core(Compulsory),Design & Analysis of Algorithms,3
4,5,Computer Science Core(Compulsory),Parallel & Distributed Computing,3
5,6,Computer Science Core(Compulsory),Artificial Intelligence,1
6,7,Computer Science Core(Compulsory),Theory of Automata,3
7,8,Computer Science Core(Compulsory),Comp. Organization & Assembly Language Lab,1
8,9,Computer Science Core(Compulsory),Digital Logic Design Lab,1
9,10,Computer Science Core(Compulsory),Artificial Intelligence Lab,1
10,11,Computer Science Core(Compulsory),Domain CS Core,3
11,12,Computer Science Core(Compulsory),Domain CS Core Lab,1
12,13,Computer Science Core(Compulsory),DLD Lab,1
13,14,Computer Science Core(Compulsory),COAL,3
14,15,Computer Science Core(Compulsory),COAL Lab,1
15,16,Computer Science Core(Compulsory),DA of Algorithms,3
16,17,Computer Science Core(Compulsory),Computer Architecture,3

In [33]:
cs_supporting = pd.read_csv('cssupporting.csv')
cs_supporting

   id                     category                       courseName  credit
0   1  Computer Science Supporting           Differential Equations       3
1   2  Computer Science Supporting           Multi-variate Calculus       3
2   3  Computer Science Supporting                     Graph Theory       3
3   4  Computer Science Supporting  Theory of Programming Languages       3
4   5  Computer Science Supporting              Numerical Computing       3
5   6  Computer Science Supporting             Domain CS Supporting       3
6   7  Computer Science Supporting   Fund.of Probabilis Programming       3
7   8  Computer Science Supporting                    Calculus - II       3

In [34]:
cs_elective = pd.read_csv('cselective.csv')
cs_elective

    id                   category             courseName  credit
0    1  Computer Science Elective        CS Elective - 1       3
1    2  Computer Science Elective        CS Elective - 2       3
2    3  Computer Science Elective        CS Elective - 3       3
3    4  Computer Science Elective        CS Elective - 4       3
4    5  Computer Science Elective        CS Elective - 5       3
5    6  Computer Science Elective            CS Elective       3
6    7  Computer Science Elective  Dsgn Dfct and Restrct       3
7    8  Computer Science Elective      Prof Issues in IT       3
8    9  Computer Science Elective        Intro. to SW PM       3
9   10  Computer Science Elective   IS Audit and Control       3
10  11  Computer Science Elective       Software Testing       3
11  12  Computer Science Elective          CS Elective 1       3
12  13  Computer Science Elective          CS Elective 2       3
13  14  Computer Science Elective          CS Elective 3       3
14  15  Computer Science Elective          CS Elective 4       3
15  16  Computer Science Elective          CS Elective 5       3

### Dropping the repeated course and selecting the repeated course which have highest grade

In [35]:
file = pd.read_csv('Std-001.csv')
file

,semester,courseName,creditHour,grade,points,type,rmk
0,1,Programming Fundamentals,3,C-,1.67,C,NaN
1,1,English Composition & Comprehension Lab,1,C,2.00,C,NaN
2,1,Islamic Studies & Ethics,3,A,4.00,C,NaN
3,1,Applied Physics,3,B,3.00,C,NaN
4,1,Calculus & Analytical Geometry,3,C,2.00,C,NaN
5,1,English Composition & Comprehension,3,C,2.00,C,NaN
6,1,Programming Fundamentals Lab,1,C+,2.33,C,NaN
7,2,Differential Equations,3,A-,3.67,C,NaN
8,2,Pakistan Studies,3,B+,3.33,C,NaN
9,2,Digital Logic Design,3,B-,2.67,C,NaN
10,2,Object Oriented Programming Lab,1,B-,2.67,C,NaN
11,2,Digital Logic Design Lab,1,A-,3.67,C,NaN
12,2,Communication & Presentation Skills,3,C,2.00,C,NaN
13,2,Object Oriented Programming,3,C,2.00,C,NaN
14,3,Social Science Related,3,A,4.00,E,NaN
15,3,Data Structures & Algorithms,3,D+,1.33,C,NaN
16,3,Comp. Organization & Assembly Language,3,D,1.00,C,NaN
17,3,Comp. Organization & Assembly Language Lab,1,A-,3.67,C,NaN
18,3,Discrete Structures,3,C+,2.33,C,NaN
19,3,Linear Algebra,3,C,2.00,C,NaN
20,4,Economy Related,3,A,4.00,E,NaN
21,4,Probability & Statistics,4,B+,3.33,C,NaN
22,4,Operating Systems,3,A-,3.67,C,NaN
23,4,Theory of Automata,3,D,1.00,C,NaN
24,4,Operating Systems Lab,1,A-,3.67,C,NaN
25,4,Domain CS Supporting,3,A,4.00,E,NaN
26,5,Management Related,3,B-,2.67,E,NaN
27,5,Database Systems Lab,1,C-,1.67,C,NaN
28,5,Domain CS Core Lab,1,B+,3.33,C,NaN
29,5,Database Systems,3,A-,3.67,C,NaN
30,5,Domain CS Core,3,C+,2.33,C,NaN
31,5,Domain CS Core,3,B-,2.67,C,NaN
32,5,Design & Analysis of Algorithms,3,C+,2.33,C,NaN
33,6,Computer Networks,3,C,2.00,C,NaN
34,6,CS Elective,3,S,0.00,E,NaN
35,6,Computer Networks Lab,1,A+,4.00,C,NaN
36,6,Software Engineering,3,B-,2.67,C,NaN
37,6,Artificial Intelligence,3,S,0.00,C,NaN
38,6,Technical & Business Writing,3,S,0.00,C,NaN
39,7,CS Elective,3,B+,3.33,C,NaN
40,7,Information Security,3,C+,2.33,E,NaN
41,7,CS Elective,3,B,3.00,E,NaN
42,7,Final Year Project,3,A-,3.67,C,NaN
43,7,CS Elective,3,D+,1.33,C,NaN
44,8,Final Year Project,3,A,4.00,C,NaN
45,8,CS Elective,3,A-,3.67,E,NaN
46,8,Compiler Construction,3,B+,3.33,E,NaN
47,8,Introduction to Info. & Comm. Technologies,3,C,2.00,E,NaN
48,8,Management Related,3,A-,3.67,E,NaN

In [36]:
file1 = file
file1 = file1.drop('rmk',axis = 1)

## Extracting Student courses Domain wise

**CS Core**

In [37]:
import pandas as pd

file2 = pd.read_csv('cscore.csv')
common_column = 'courseName'
cscore = pd.merge(file1, file2, on=common_column, how='left')
cscore = cscore.dropna()
cscore = cscore.sort_values('points', ascending=False).drop_duplicates(subset='courseName')
cscore

,semester,courseName,creditHour,grade,points,type,id,category,credit
35,6,Computer Networks Lab,1,A+,4.00,C,16.0,Computing Core,1.0
44,8,Final Year Project,3,A,4.00,C,10.0,Computing Core,6.0
22,4,Operating Systems,3,A-,3.67,C,5.0,Computing Core,3.0
24,4,Operating Systems Lab,1,A-,3.67,C,14.0,Computing Core,1.0
29,5,Database Systems,3,A-,3.67,C,6.0,Computing Core,3.0
10,2,Object Oriented Programming Lab,1,B-,2.67,C,12.0,Computing Core,1.0
36,6,Software Engineering,3,B-,2.67,C,7.0,Computing Core,3.0
6,1,Programming Fundamentals Lab,1,C+,2.33,C,11.0,Computing Core,1.0
18,3,Discrete Structures,3,C+,2.33,C,4.0,Computing Core,3.0
40,7,Information Security,3,C+,2.33,E,9.0,Computing Core,3.0
13,2,Object Oriented Programming,3,C,2.00,C,2.0,Computing Core,3.0
33,6,Computer Networks,3,C,2.00,C,8.0,Computing Core,3.0
0,1,Programming Fundamentals,3,C-,1.67,C,1.0,Computing Core,3.0
27,5,Database Systems Lab,1,C-,1.67,C,15.0,Computing Core,1.0
15,3,Data Structures & Algorithms,3,D+,1.33,C,3.0,Computing Core,3.0

**General Education**

In [38]:
import pandas as pd

file1 = file
file1 = file1.drop('rmk',axis = 1)
file2 = pd.read_csv('csgeneral.csv')
common_column = 'courseName'
csgeneral = pd.merge(file1, file2, on=common_column, how='left')
csgeneral = csgeneral.dropna()
csgeneral

,semester,courseName,creditHour,grade,points,type,id,category,credit
2,1,Islamic Studies & Ethics,3,A,4.00,C,7.0,General Education,2.0
5,1,English Composition & Comprehension,3,C,2.00,C,1.0,General Education,3.0
8,2,Pakistan Studies,3,B+,3.33,C,6.0,General Education,2.0
12,2,Communication & Presentation Skills,3,C,2.00,C,3.0,General Education,3.0
38,6,Technical & Business Writing,3,S,0.00,C,2.0,General Education,3.0
47,8,Introduction to Info. & Comm. Technologies,3,C,2.00,E,13.0,General Education,3.0

**University Electives**

In [39]:
import pandas as pd

file1 = file
file1 = file1.drop('rmk',axis = 1)
file2 = pd.read_csv('csgeneralelective.csv')
common_column = 'courseName'
csgeneralelective = pd.merge(file1, file2, on=common_column, how='left')
csgeneralelective=csgeneralelective.dropna()
csgeneralelective

,semester,courseName,creditHour,grade,points,type,id,category,credit
14,3,Social Science Related,3,A,4.00,E,4.0,University Electives,3.0
20,4,Economy Related,3,A,4.00,E,5.0,University Electives,3.0
26,5,Management Related,3,B-,2.67,E,3.0,University Electives,3.0
48,8,Management Related,3,A-,3.67,E,3.0,University Electives,3.0

**Mathematics and Science Foundation Courses**

In [40]:
import pandas as pd

file1 = file
file1 = file1.drop('rmk',axis = 1)
file2 = pd.read_csv('csmaths.csv')
common_column = 'courseName'
csmaths = pd.merge(file1, file2, on=common_column, how='left')
csmaths = csmaths.dropna()
# csmaths = csmaths[csmaths['type'] == 'C']
csmaths

,semester,courseName,creditHour,grade,points,type,id,category,credit
3,1,Applied Physics,3,B,3.00,C,4.0,Mathematics and Science Foundation,3.0
4,1,Calculus & Analytical Geometry,3,C,2.00,C,1.0,Mathematics and Science Foundation,3.0
19,3,Linear Algebra,3,C,2.00,C,3.0,Mathematics and Science Foundation,3.0
21,4,Probability & Statistics,4,B+,3.33,C,2.0,Mathematics and Science Foundation,3.0

**Domain Course CS Compulsory**

In [57]:
import pandas as pd

file1 = file
file1 = file1.drop('rmk',axis = 1)
file2 = pd.read_csv('cscompulsory.csv')
common_column = 'courseName'
cscompulsory = pd.merge(file1, file2, on=common_column, how='left')
cscompulsory = cscompulsory.dropna()
# cscompulsory = cscompulsory.sort_values('points', ascending=False).drop_duplicates(subset='courseName')

cscompulsory

,semester,courseName,creditHour,grade,points,type,id,category,credit
7,2,Digital Logic Design,3,A+,4.00,C,3.0,Computer Science Core(Compulsory),3.0
9,2,Digital Logic Design Lab,1,A-,3.67,C,9.0,Computer Science Core(Compulsory),1.0
15,3,Comp. Organization & Assembly Language,3,C-,1.67,C,2.0,Computer Science Core(Compulsory),3.0
19,3,Comp. Organization & Assembly Language Lab,1,A,4.00,C,8.0,Computer Science Core(Compulsory),1.0
23,4,Theory of Automata,3,C,2.00,C,7.0,Computer Science Core(Compulsory),3.0
26,5,Domain CS Core Lab,1,A-,3.67,C,12.0,Computer Science Core(Compulsory),1.0
27,5,Domain CS Core,3,C+,2.33,C,11.0,Computer Science Core(Compulsory),3.0
33,5,Design & Analysis of Algorithms,3,B-,2.67,C,4.0,Computer Science Core(Compulsory),3.0
34,6,Artificial Intelligence,3,B+,3.33,C,6.0,Computer Science Core(Compulsory),1.0
39,6,Computer Architecture,3,C,2.00,C,17.0,Computer Science Core(Compulsory),3.0

In [58]:
def is_pass(data):
    credit_hour_gained = 0
    for index, row in data.iterrows():
        if row['points'] > 0.0:
            credit_hour_gained += row['creditHour']
            print(row['creditHour'])
    
    return credit_hour_gained

is_pass(cscompulsory)

3
1
3
1
3
1
3
3
3
3

24

**CS Supporting**

In [42]:
import pandas as pd

file1 = file
file1 = file1.drop('rmk',axis = 1)
file2 = pd.read_csv('cssupporting.csv')
common_column = 'courseName'
cssupporting = pd.merge(file1, file2, on=common_column, how='left')
cssupporting = cssupporting.dropna()
cssupporting

,semester,courseName,creditHour,grade,points,type,id,category,credit
7,2,Differential Equations,3,A-,3.67,C,1.0,Computer Science Supporting,3.0
25,4,Domain CS Supporting,3,A,4.00,E,6.0,Computer Science Supporting,3.0

**CS Elective**

In [43]:
import pandas as pd

file1 = file
file1 = file1.drop('rmk',axis = 1)
file2 = pd.read_csv('cselective.csv')
common_column = 'courseName'
cselective = pd.merge(file1, file2, on=common_column, how='left')
cselective = cselective.dropna()
cselective

,semester,courseName,creditHour,grade,points,type,id,category,credit
34,6,CS Elective,3,S,0.00,E,6.0,Computer Science Elective,3.0
39,7,CS Elective,3,B+,3.33,C,6.0,Computer Science Elective,3.0
41,7,CS Elective,3,B,3.00,E,6.0,Computer Science Elective,3.0
43,7,CS Elective,3,D+,1.33,C,6.0,Computer Science Elective,3.0
45,8,CS Elective,3,A-,3.67,E,6.0,Computer Science Elective,3.0

***Function to check whether course is pass or not***

In [52]:
def is_pass(data):
    credit_hour_gained = 0
    for index, row in data.iterrows():
        if row['points'] > 0.0:
            credit_hour_gained += row['creditHour']
    
    return credit_hour_gained

***Constraints for checking percentage coverage of each domain***

In [45]:
total_general_education = (is_pass(csgeneral)-19)
total_university_electives = (is_pass(csgeneralelective)-12)
total_math_science_foundation = (is_pass(csmaths)-12)
total_computing_core = (is_pass(cscore)-39)
total_domain_cs_core = (is_pass(cscompulsory))
total_domain_cs_electives = (is_pass(cselective)-15)
total_domain_cs_supporting = (is_pass(cssupporting)-9)

In [46]:
# testing purpose
print(total_general_education)
print(total_university_electives)
print(total_math_science_foundation)
print(total_computing_core)

print(total_domain_cs_core)
print(total_domain_cs_electives)
print(total_domain_cs_supporting)

-4
0
1
-4
21
-3
-3

In [47]:
# testing for total number of credit hours gained
print(is_pass(file1))

121

***Function for final output***

In [48]:
def result(total_general_education, total_university_electives, total_math_science_foundation,
           total_computing_core, total_domain_cs_core, total_domain_cs_electives, total_domain_cs_supporting):
    
    validation_result = []
    

    if total_general_education < 100:
        validation_result.append("You need to take more courses in General Education.")

    if total_university_electives < 100:
        validation_result.append("You need to take more University Elective courses.")

    if total_math_science_foundation < 100:
        validation_result.append("You need to take more courses in Math and Science Foundation.")

    if total_computing_core < 100:
        validation_result.append("You need to take more courses in Computing Core.")

    if total_domain_cs_core < 100:
        validation_result.append("You need to take more courses in Computer Science Core.")

    if total_domain_cs_electives < 100:
        validation_result.append("You need to take more courses in Computer Science Electives.")

    if total_domain_cs_supporting < 100:
        validation_result.append("You need to take more courses in Computer Science Supporting.")

    if total_general_education > 100:
        validation_result.append("You have taken extra courses in General Education.")

    if total_university_electives > 100:
        validation_result.append("You have taken extra University Elective courses.")

    if total_math_science_foundation > 100:
        validation_result.append("You have taken extra courses in Math and Science Foundation.")

    if total_computing_core > 100:
        validation_result.append("You have taken extra courses in Computing Core.")

    if total_domain_cs_core > 100:
        validation_result.append("You have taken extra courses in Computer Science Core.")

    if total_domain_cs_electives > 100:
        validation_result.append("You have taken extra courses in Computer Science Electives.")

    if total_domain_cs_supporting > 100:
        validation_result.append("You have taken extra courses in Computer Science Supporting.")

    if (total_general_education >= 100 and total_university_electives >= 100
            and total_math_science_foundation >= 100 and total_computing_core >= 100
            and total_domain_cs_core >= 100 and total_domain_cs_electives >= 100
            and total_domain_cs_supporting >= 100):
        validation_result.append("--------------Degree Validated Successfully---------------")
        return "Degree Validated Successfully"
    else:
        validation_result.append("--------------Degree Validation Failed---------------")
        return "Degree Validation Failed"
    validation_text = '\n'.join(validation_result)

    # Update the label in the GUI with the validation result
    validation_label.config(text=validation_text)

In [49]:
file = pd.read_csv('Std-004.csv')
print(is_pass(file))

122

## **Incorporating all the working in a function**

In [50]:
import pandas as pd

def validate(transcript_path):
    file1 = pd.read_csv(transcript_path)
    file1 = file1.drop('rmk',axis = 1)
    file2 = pd.read_csv('cscore.csv')

    common_column = 'courseName'
    cscore = pd.merge(file1, file2, on=common_column, how='left')
    cscore = cscore.dropna()
    cscore = cscore.sort_values('points', ascending=False).drop_duplicates(subset='courseName')


    file1 = pd.read_csv(transcript_path)
    file1 = file1.drop('rmk',axis = 1)
    file2 = pd.read_csv('csgeneral.csv')
    csgeneral = pd.merge(file1, file2, on=common_column, how='left')
    csgeneral = csgeneral.dropna()
    csgeneral = csgeneral[csgeneral['type'] == 'C']

    file1 = pd.read_csv(transcript_path)
    file2 = pd.read_csv('csgeneralelective.csv')
    csgeneralelective = pd.merge(file1, file2, on=common_column, how='left')
    csgeneralelective = csgeneralelective.dropna()
    csgeneralelective = csgeneralelective[csgeneralelective['type'] == 'E']

    file1 = pd.read_csv(transcript_path)
    file1 = file1.drop('rmk',axis = 1)
    file2 = pd.read_csv('csmaths.csv')
    csmaths = pd.merge(file1, file2, on=common_column, how='left')
    csmaths = csmaths.dropna()

    file1 = pd.read_csv(transcript_path)
    file1 = file1.drop('rmk',axis = 1)
    file2 = pd.read_csv('cscompulsory.csv')
    cscompulsory = pd.merge(file1, file2, on=common_column, how='left')
    cscompulsory = cscompulsory.dropna()

    file1 = pd.read_csv(transcript_path)
    file1 = file1.drop('rmk',axis = 1)
    file2 = pd.read_csv('cssupporting.csv')
    cssupporting = pd.merge(file1, file2, on=common_column, how='left')
    cssupporting = cssupporting.dropna()

    file1 = pd.read_csv(transcript_path)
    file1 = file1.drop('rmk',axis = 1)
    file2 = pd.read_csv('cselective.csv')
    cselective = pd.merge(file1, file2, on=common_column, how='left')
    cselective = cselective.dropna()

    total_general_education = (is_pass(csgeneral)/19)*100
    total_university_electives = (is_pass(csgeneralelective)/12)*100
    total_math_science_foundation = (is_pass(csmaths)/12)*100
    total_computing_core = (is_pass(cscore)/39)*100
    total_domain_cs_core = (is_pass(cscompulsory)/24)*100
    total_domain_cs_electives = (is_pass(cselective)/15)*100
    total_domain_cs_supporting = (is_pass(cssupporting)/9)*100

    result_text = result(total_general_education, total_university_electives, total_math_science_foundation,
                         total_computing_core, total_domain_cs_core, total_domain_cs_electives, total_domain_cs_supporting)

    # Update the GUI with the validation result
    validation_label.config(text=result_text)

In [51]:
import tkinter as tk
from tkinter import filedialog
from tkinter import ttk
from PIL import Image, ImageTk
import pandas as pd
import time  # For simulating loading time

# Global variables for GUI elements
root = None
selected_path_label = None
progress_bar = None
validation_label = None

def select_transcript():
    transcript_path = filedialog.askopenfilename(initialdir="/", title="Select Transcript CSV File",
                                                 filetypes=(("CSV files", "*.csv"), ("All files", "*.*")))
    if transcript_path:
        print("Transcript Path:", transcript_path)
        display_selected_path(transcript_path)
        read_file_stage()
        # Simulating loading time for "Reading File" stage
        root.after(2000, lambda: read_file_completed(transcript_path))
    return transcript_path

def display_selected_path(path):
    selected_path_label.config(text="Selected Transcript: " + path)

def read_file_stage():
    selected_path_label.config(text="Reading File...")
    progress_bar['value'] = 20

def read_file_completed(transcript_path):
    progress_bar['value'] = 100
    constraints_stage(transcript_path)

def constraints_stage(transcript_path):
    selected_path_label.config(text="Checking Constraints...")
    progress_bar['value'] = 40
    # Simulating loading time for "Checking Constraints" stage
    root.after(2000, lambda: constraints_completed(transcript_path))

def constraints_completed(transcript_path):
    progress_bar['value'] = 80
    validation_stage(transcript_path)

def validation_stage(transcript_path):
    selected_path_label.config(text="Validating...")
    progress_bar['value'] = 100
    # Simulating loading time for "Validating" stage
    root.after(2000, lambda: validate(transcript_path))

def display_image():
    global root
    root = tk.Tk()
    root.title("HEC Degree Validation")

    style = ttk.Style()
    style.configure('TFrame', background='white')
    style.configure('TLabel', font=('Courier', 12), background='white')
    style.configure('TButton', font=('Courier', 12), background='white')

    # Create a frame with white background
    frame = ttk.Frame(root, style='TFrame')
    frame.pack(fill=tk.BOTH, expand=True)

    # Load the image
    image_path = "C:/Users/ehaab/OneDrive/Desktop/Semester5/KRR/KRR project/P1 - HEC Degree Requiremnts/Logo.png"
    img = Image.open(image_path)
    img = img.resize((100, 100))  # Adjusted size to portrait orientation

    # Convert the image for Tkinter
    img_tk = ImageTk.PhotoImage(img)

    # Create a label to display the image
    label_image = ttk.Label(frame, image=img_tk, style='TLabel')
    label_image.grid(row=0, column=0, columnspan=2, pady=10)  # Center align image label

    # Text label for degree validation
    label_text = ttk.Label(frame, text="Degree Validation", style='TLabel')
    label_text.grid(row=1, column=0, columnspan=2)  # Center align text label

    # Label to display selected transcript path
    global selected_path_label
    selected_path_label = ttk.Label(frame, text="", style='TLabel')
    selected_path_label.grid(row=2, column=0, columnspan=2, pady=5)  # Center align selected path label

    # Progress Bar
    global progress_bar
    progress_bar = ttk.Progressbar(frame, orient='horizontal', length=200, mode='determinate')
    progress_bar.grid(row=3, column=0, columnspan=2, pady=5)  # Center align progress bar

    # Validate button
    validate_button = ttk.Button(frame, text="Validate", command=lambda: validate(select_transcript()), style='TButton')
    validate_button.grid(row=5, column=0, columnspan=2, pady=5)  # Center align Validate button

    # Label to display validation result
    global validation_label
    validation_label = ttk.Label(frame, text="", style='TLabel')
    validation_label.grid(row=6, column=0, columnspan=2, pady=5)  # Center align validation result label

    # Center-aligning all columns and rows in the grid
    frame.grid_columnconfigure(0, weight=1)
    frame.grid_rowconfigure(0, weight=1)
    frame.grid_rowconfigure(1, weight=1)
    frame.grid_rowconfigure(2, weight=1)
    frame.grid_rowconfigure(3, weight=1)
    frame.grid_rowconfigure(4, weight=1)
    frame.grid_rowconfigure(5, weight=1)
    frame.grid_rowconfigure(6, weight=1)

    # Set window size to portrait orientation
    window_width = 320  # Adjust width as needed
    window_height = 500  # Adjust height as needed
    screen_width = root.winfo_screenwidth()
    screen_height = root.winfo_screenheight()

    x_coordinate = int((screen_width / 2) - (window_width / 2))
    y_coordinate = int((screen_height / 2) - (window_height / 2))

    root.geometry(f"{window_width}x{window_height}+{x_coordinate}+{y_coordinate}")

    # Run the main loop
    root.mainloop()

# Call the function to display the image with degree validation text and the buttons
display_image()